@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #090909;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Teko";
}
header {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}
header div {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 8px;
}
.headerlogo {
    width: 110px;

}

main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    font-size: 40px;
    line-height: 40px;
}
h1 b {
    color: #6BD41A;
}
.texto-pricipal {
    width: 132px;
    margin-left: 16px;
}
.texto-secundario{
    color: #CCCCCC;
}
.imagem-principal {
    width: 124px;
    margin-right: 16px;
}

footer {
    height: 75px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}
.setas {
    display: flex;
    justify-content: space-between;
}
footer img {
    height: 23px;
}
.seta-direita {
    transform: scaleX(-1);
}
.made-by {
    color: #AAAAAA;
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;
    margin-top: 24px;
}